<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <h1>Register</h1>
  <form action="/accounts/register" method="post">
    <fieldset>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </fieldset>
    <fieldset>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email">
    </fieldset>
    <fieldset>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </fieldset>
    <button type="submit">Register</button>
  </form>
  <a href="/accounts/login">Login</a>
</body>

</html>